<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
<a th:href="@{/login}">Log in</a>


<form  method="post" modelAttribute = "user">
    <label>UserName</label>
    <input type="text" name="UserName"/>
    <br/>
    <label>Profession</label>
    <input type="text" name ="Profession"  />
    <label>Age</label>
    <input type="number" name = "Age"/>
    <label>Login</label>
    <input type="text" name="Login"    />
    <label>Password</label>
    <input type="text" name="Password"    />
    <li th:each="role : ${ROLES}">
        <input type="checkbox" name="rolesValues" th:value="${role}"/>
        <label th:text="${role}"></label>
    </li>
    <input type="submit" value="Add user">
</form>
<form th:align="left" th:action="@{/logout}" method="get">
    <input type="submit" value="Sign Out"/>
</form>
</body>
</html>
