<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:c="http://java.sun.com/xml/ns/javaee">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>

</head>
<body>
<h1>Users</h1>
<table  width="30%" border="1" cellpadding="4" cellspacing="0"  >

    <tr>
        <th>id</th>
        <th>name</th>
        <th>profession</th>
        <th>age</th>
        <th>login</th>
        <th>roles</th>
        <th>link</th>
    </tr >
    <tr >

    <td>
        <th:block th:each="lu : ${list_users}" >
        <p th:text="${lu.getId()}"></p>
        </th:block>

    </td>
        <td >
            <th:block th:each="lu : ${list_users}">
            <p th:text="${lu.getUserName()}"></p>
            </th:block>
            </td>
        <td>
            <th:block th:each="lu : ${list_users}">
                <p th:text="${lu.getProfession()}"></p>
            </th:block>
        </td>
        <td>
            <th:block th:each="lu : ${list_users}">
                <p th:text="${lu.getAge()}"></p>
            </th:block>
        </td>
        <td>
            <th:block th:each="lu : ${list_users}">
                <p th:text="${lu.getLogin()}"></p>
            </th:block>
        </td>
        <td>
            <th:block th:each="lu : ${list_users}">
                <th:block th:each="role : ${lu.getRoles()}">
                    <p th:text ="${role.getRole()}"></p>
                </th:block>
            </th:block>
        </td>
        <td>
            <th:block th:each="lu : ${list_users}">

                <a th:href= "@{admin/edit/{id}(id=${lu.getId()})}">edit</a>
        <a th:href = "@{/admin/delete/{id}(id=${lu.getId()})}">delete</a>
                <p></p>
            </th:block>
        </td>
    </tr>
</table>

<h1>Add</h1>
<a th:href="@{/admin/add}">Add new user</a>

<form th:align="left" th:action="@{/user}" method="get">
    <input type="submit" value="Personal page"/>
</form>
<form th:align="left" th:action="@{/logout}" method="get">
    <input type="submit" value="Sign Out"/>
</form>
</body>
</html>
