<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>
<h1>Welcome to our website</h1>
<a th:href="@{/login}">Log in</a>


<form  method="post" modelAttribute = "user">
    <label>UserName</label>
    <input type="text" name="UserName"    />
    <label>Profession</label>
    <input type="text" name ="Profession"  />
    <label>Age</label>
    <input type="number" name = "Age"/>
    <label>Login</label>
    <input type="text" name="Login"    />
    <label>Password</label>
    <input type="text" name="Password"    />
    <li th:each="role : ${ROLES}">
        <input type="checkbox" name="rolesValues" th:value="${role}"/>
        <label th:text="${role}"></label>
    </li>
    <input type="submit" value="Add user">
</form>


<h1> EDIT</h1>
<div>
    <form th:align="right" th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
</div>
<div>
    <h1>User list</h1>
    <table border="1">
        <tr>
            <th>id</th>
            <th>User name</th>
            <th>Password</th>
            <th>Roles</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
      <!--  <tr th:each="user : ${users}">
            <td th:text="${user.getId()}"></td>
            <td th:text="${user.getName()}"></td>
            <td th:text="${user.getPassword()}"></td>
            <td>
                <div th:each="role : ${user.getRoles()}" th:text="${role.getName()}"></div>
            </td>
            <td><a th:href="@{/admin/editUser(id=${user.getId()})}">edit</a></td>
            <td><a th:href="@{/admin/users/delete(id=${user.getId()})}">delete</a></td>
    </table>
</div>
<div>
    <h1>Edit user</h1>
    <form action="#" th:action="@{/admin/users/add}" th:object="${user}" method="post">
        <table>
            <tbody>
            <tr>
                <td>id:</td>
                <td>
                    <input type="text" readonly th:field="*{getId()}">
                </td>
            </tr>
            <tr>
                <td>User name:</td>
                <td>
                    <input type="text" th:field="*{userName}">
                </td>
            </tr>
            <tr>
                <td>Password:</td>
                <td>
                    <input type="password" th:field="*{password}">
                </td>
            </tr>
            <tr>
                <td>Roles:</td>
                <td>
                    <ul>
                        <li th:each="role : ${ROLES}">
                            <input type="checkbox" name="rolesValues" th:value="${role}"/>
                            <label th:text="${role}"></label>
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="edit">
                </td>
            </tr>
            </tbody>
            -->
        </table>
    </form>
</div>

</body>
</html>




</body>
</html>